[submodule "swerve-template"]
	path = swerve-template
	url = https://github.com/frc2468/swerve-template.git
[submodule "bordeaux-2687-rebuilt"]
	path = bordeaux-2687-rebuilt
	url = https://github.com/frc2468/bordeaux.git
	branch = choreo-integration
[submodule "dashboard"]
	path = dashboard
	url = https://github.com/frc2468/rebuilt-dashboard-2687.git
